.verify-account {
	width: 100%;
	margin: 0;
}
.verify-container{
	background-color: #E5E5E5;
	max-width: 1520px;
	margin: auto;
}
.verify-post {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
	height: 200px;
	width: 100%;
	border-radius: 10px;
	margin-top: 20px;
	border: 1px solid rgba(235, 235, 235, 1);
	box-shadow: 5px 10px 18px #888888;
}
.verify-post-title {
	margin-top: 20px;
}
.verify-message {
	margin-top: 30px;
}
.image1 {
	position: absolute;
	right: 0;
	opacity: 50%;
	margin-top: 10px;
	img {
		height: 700px;
	}
}

.bg-image {
	position: relative;
	background-color: #E5E5E5;
	height: 90vh;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-size: cover;
		background-image: url("../../img/img.png");
		background-repeat: no-repeat;
		background-position: center;
		opacity: 50%;
	}
}
.content {
	padding: 5% 5% 0 10%;
	position: relative;
}