ul, ol{
    padding-left: 1rem;
}
.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10000;
    
}

.myModalContent{
    padding: 25px;
    background: white;
    border-radius: 16px;
    max-width: 1000px;
}
.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head i{
    font-size: 30px;
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    transition: 0.5s;
   
}
.head i:hover{
    background-color: lightgrey;
}

.cont{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.about{
    width: 50%;
}

.bigImg img{
    border-radius: 20px;
  
}
.smallImg{
    margin-top: 15px;
    display: flex;
    
}
.smallImg img{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.smallImg img:hover{
    opacity: 70%;
}
.about button{
    width: 100%;
    border-radius: 20px;
    padding: 7px 0;
    background-color: rgba(44, 49, 146, 1);
    color: white;
    border: none;
}
.units{
    display: flex;
}

.units ul {
    margin-right: 70px;
}

