
.main-lowman-products {
	max-width: 100%;
	margin: auto;
}
.lowmanproducts-container {
	background-color: #E5E5E5;
	max-width: 1520px;
  	padding: 0;
	padding-bottom: 200px;
	margin: auto;
}
.lowman-products-library {
	padding: 30px 160px 0 160px;
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
}
.lowmanProducts {
	padding: 0 40px;
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	h2 {
		line-height: 32px;
		font-size: 32px;
	}
}
.productItem {
	h5 {
		font-size: 16px;
		font-weight: 700;
	}
}
.libraryProducts {
	margin-top: 15px;
	font-weight: 700;
	font-size: 1.25em;
	line-height: 1.68rem;
	display: flex;
	justify-content: space-between;
}
.green {
	background-color: rgba(0, 130, 83, 1);
	color: white;
	padding: 10px 0;
	border-radius: 20px;
	font-weight: 700;
	width: 20%;
	border: none;
}
.blue {
	background-color: rgba(123, 97, 255, 0.3);
	color: rgba(70, 42, 217, 1);
	padding: 10px 0;
	border-radius: 20px;
	font-weight: 700;
	width: 20%;
	border: none;
}
.orange {
	background-color: rgba(223, 119, 0, 0.15);
	color: rgba(207, 87, 0, 1);
	padding: 10px 0;
	border-radius: 20px;
	font-weight: 700;
	width: 20%;
	border: none;
}
.red {
	background-color: rgba(193, 39, 53, 0.05);
	color: rgba(172, 11, 26, 1);
	padding: 10px 0;
	border-radius: 20px;
	font-weight: 700;
	width: 20%;
	border: none;
}
.subject-active-button4 {
	background-color: rgb(193, 39, 53);
	color: white;
}
.subject-active-button {
	background-color: darkgreen;
	color: white;
}
.subject-active-button2 {
	background-color: rgb(123, 97, 255);
	color: white;
}
.subject-active-button3 {
	background-color: rgb(223, 119, 0);
	color: white;
}
.productItems {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	margin: 35px 5px 0 5px;
	h2 {
		text-align: center;
		margin-bottom: 30px;
		font-weight: 700;
	}
}
.prod {
	width: 33.3%;
	&:last-child {
		margin-right: 0;
	}
}
.productItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	height: auto;
	h2 {
		font-weight: 700;
	}
}
.look {
	display: flex;
	align-items: center;
	margin-right: 20px;
	font-size: 1.3rem;
	cursor: pointer;
	background-color: rgba(0, 130, 83, 0.05);
	padding: 5px;
	border-radius: 2px;
	button {
		border: none;
		background-color: transparent;
		padding: 0;
		margin: 0;
		color: rgba(0, 130, 83, 1);
		display: flex;
		align-items: center;
		height: 20px;
	}
	div {
		padding: 10px;
	}
}
.openButton {
	background-color: rgba(0, 130, 83, 1);
	color: white;
	border: none;
	padding: 5px 20px;
	border-radius: 10px;
	font-size: 1rem;
	transition: 0.3s;
}
.activeOpenButton {
	background-color: #c7aa65;
	color: white;
	border: none;
	padding: 5px 20px;
	border-radius: 10px;
	font-size: 1rem;
	transition: 0.3s;
}
.addProduct {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgba(0, 130, 83, 1);
}
.add {
	display: flex;
	align-items: center;
	transition: 1s;
	font-size: 1.3rem;
	cursor: pointer;
	background-color: rgba(0, 130, 83, 0.05);
	padding: 5px;
	border-radius: 2px;
}
.productName {
	color: rgba(118, 118, 118, 1);
	font-weight: 400;
}
