.App{
  padding: 0;
  margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    width: 100%;
    font-family: nunito;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3rem;
    background-color: white;
  }
  header a{
    color: #2C3192;
  }
  
  .logo img{
    height: 75px;
    width: 150px;
  }

  .buttons button{
    margin-right: 10px;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    border: none;
  }
  .defaultButton{
    background: rgba(44, 49, 146, 0.1);
  }
  .activeButton{
    color: white;
    background-color: #2C3192;
}
  .login span{
    margin-left: 5px;
    
  }
  
  .login{
    color: #2C3192;
    display: flex;
    align-items: center;
  }
  a:link{
    text-decoration: none;
    color: #2C3192;
  }
  .login span:last-child{
    margin-right: 0;
  }
  .active-products-button{
    background-color: #2C3192;
    color: white;
  }
  .login-products{
    display: flex;
    align-items: center;
    color: #2C3192;
    width: 235px;
    justify-content: flex-end;
  
  }
  
  .login{
    margin-right: 25px;
    font-size: 18px;
  }
  
  .products{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #2C3192;
    
  }
  

.products div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    
  }

  .createAccount-login-products span{
    margin-left: 20px;
    font-size: 18px;
  }

 