* {
	font-family: 'Nunito', sans-serif;
}
h1{
	font-family: Varela;
	font-size: 32px;
	font-weight: 400;
}
a{
  color: #2C3192;
}
.create-account {
	width: 100%;
	margin: 0;
}
.createaccount-container {
	background-color: #E5E5E5;
	max-width: 1520px;
	margin: auto;
}
.login{
	width: 100%;
	margin-right: 20px;
}
.login-container{
  background-color: #E5E5E5;
  width: 1520px;
  margin: auto;
}
.wrap {
	position: relative;
	background-color: #E5E5E5;
	height: auto;
	padding-bottom: 200px;
	min-height: 100vh;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-size: cover;
		background-image: url("../../img/img1.png");
		background-repeat: no-repeat;
		background-position: top center;
		opacity: 50%;
		height: auto;
	}
}
.content {
	position: relative;
	padding: 70px 0 0 10%;
}
.go-previos-page {
	color: #2C3192;
}
.image {
	position: absolute;
	z-index: 0;
	top: 350px;
	right: 0;
	opacity: 50%;
}
.form {
	margin-top: 20px;
	position: relative;
	width: 45%;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	z-index: 100;
	button {
		width: 35%;
		position: relative;
		left: 65%;
		margin-top: 10px;
		border-radius: 20px;
		background-color: #2C3192;
	}
	p {
		display: inline-block;
		margin-top: 10px;
		position: relative;
		left: 59%;
		margin-bottom: 0;
		width: 45%;
	}
	a {
		margin-left: 5px;
	}
}
.select {
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	width: 80%;
	border-radius: 20px;
}
.form-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: center;
	font-weight: 700;
	input {
		width: 80%;
		border-radius: 20px;
	}
	label {
		width: 20%;
	}
}
.error {
	position: relative;
	left: 20%;
	color: red;
	margin-top: -10px;
	padding-bottom: 10px;
}
.error-form {
	color: red;
}

.about {
	position: relative;
	left: 155px;
	margin-bottom: 10px;
}


